<div class="page">

  <h2>📋 Loan Approval</h2>

  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Tenure</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let app of applications">

        <td>{{ app.id }}</td>
        <td>{{ app.userEmail }}</td>
        <td>{{ app.productName }}</td>
        <td>₹ {{ app.requestedAmount }}</td>
        <td>{{ app.requestedTenureMonths }}</td>
        <td>{{ app.status }}</td>

        <td>
          <input
            [(ngModel)]="remarks[app.id]"
            placeholder="Enter remark"
          />
        </td>

        <td>

          <button
            class="approve"
            (click)="approve(app)"
            [disabled]="app.status !== 'PENDING'">
            ✅ Approve
          </button>

          <button
            class="reject"
            (click)="reject(app)"
            [disabled]="app.status !== 'PENDING'">
            ❌ Reject
          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>